<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <h2>Usuários Cadastrados</h2>

                    <table class="table table-sm table-striped table-bordered nowrap"
                           id="table-usuarios"
                           style="width: 100%">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome de Usuário (email)</th>
                            <th scope="col">Cadastro Ativo</th>
                            <th scope="col">Perfis</th>
                            <th scope="col">Credenciais</th>
                            <th scope="col">Dados Pessoais</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script	th:src="@{/js/usuario.js(v=${version})}" th:fragment="js"></script>
<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>