<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" --> >
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="col-md-8">

                    <div th:replace="fragments/alertaUsers  :: alerta-sucesso"></div>

                    <form class="was-validated" method="POST"
                          th:action="${estagiario.id == null} ? @{/estagiarios/salvar} : @{/estagiarios/editar}"
                          th:object="${estagiario}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-group" for="nome">Nome Completo</label>
                                <input class="form-control" id="nome"
                                       placeholder="João da Silva" required th:field="*{nome}"
                                       type="text"/>
                                <div class="invalid-feedback">Nome completo é requerido.</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="matricula">Matrícula</label>
                                <input class="form-control" id="matricula" placeholder="00000000000" required
                                       th:field="*{matricula}" type="text"/>
                                <div class="invalid-feedback">Matrícula é requerida.</div>
                            </div>
                        </div>

                        <input name="uid" th:field="*{usuario.id}" type="hidden">
                        <input name="id" th:field="*{id}" type="hidden">

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" data-placement="right"
                                        data-toggle="tooltip" title="Salvar" type="submit">
                                    <i class="fas fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- <hr/> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <script	th:src="@{/js/estagiario.js(v=${version})}"	th:fragment="js"></script> -->
<script th:fragment="js" th:src="~{}"></script>
<script th:fragment="inlinescript" th:inline="javascript"></script>
</body>
</html>
