<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Relatórios</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="cadastro">

        <h3>Relatório Completo</h3>
        <a class="btn btn-info btn-sm" role="button" th:href="@{/relatorio/pdf/jr1(code='01' , acao='v')}" target="_blank">
            <span aria-hidden="true" class="oi oi-eye" title="Visualizar"></span>
        </a>
        <a class="btn btn-info btn-sm" role="button" th:href="@{/relatorio/pdf/jr1(code='01' , acao='d')}">
            <span aria-hidden="true" class="oi oi-data-transfer-download" title="Download"></span>
        </a>

        <hr>

        <h3>Relatório por Categoria e Departamento</h3>
        <form th:action="@{/relatorio/pdf/jr4/04}" method="get">
            <select id="categoriaFilter" name="categoria" >
                <option value="">Selecione a Categoria</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria}">Selecione a Categoria</option>
            </select>
            <select id="departamentoFilter" name="departamento" >
                <option value="">Selecione o Departamento</option>
                <option th:each="departamento : ${departamentos}" th:value="${departamento}" th:text="${departamento}">Selecione o Departamento</option>
            </select>
            <button class="oi oi-eye" type="submit" aria-hidden="true" title="Visualizar" target="_blank"></button>
            </a>
        </form>

        <hr>


        <h3>Relatório por Categoria</h3>
        <form th:action="@{/relatorio/pdf/jr2/02}" method="get">
            <select id="categoria" name="categoria" >
                <option value="">Selecione a Categoria</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria}">Selecione a Categoria</option>
            </select>
            <a>
            <button class="oi oi-eye" type="submit" aria-hidden="true" title="Visualizar" ></button>
            </a>
        </form>

        <hr>

        <h3>Relatório por Departamento</h3>
        <form th:action="@{/relatorio/pdf/jr3/03}" method="get">
            <select id="departamento" name="departamento" >
                <option value="">Selecione o Departamento</option>
                <option th:each="departamento : ${departamentos}" th:value="${departamento}" th:text="${departamento}">Selecione o Departamento</option>
            </select>
            <button class="oi oi-eye" type="submit" aria-hidden="true" title="Visualizar"></button>
            </a>
        </form>

        <hr>

        <h3>Relatório por Status</h3>
        <form th:action="@{/relatorio/pdf/jr6/06}" method="get">
            <select id="status" name="status" >
                <option value="">Selecione o Status</option>
                <option th:each="status : ${status}" th:value="${status}" th:text="${status}">Selecione o Status</option>
            </select>
            <button class="oi oi-eye" type="submit" aria-hidden="true" title="Visualizar"></button>
            </a>
        </form>


    </div>
</section>
<script th:fragment="js" th:src="~{}"></script>
<script th:fragment="inlinescript" th:inline="javascript"></script>
</body>
</html>
