<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Cadastrar Departamentos</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" role="button" th:href="@{/departamentos/listar}">
                <span aria-hidden="true" class="oi oi-spreadsheet" title="Listar"></span>
                <span>Listar Departamentos</span>
            </a>
        </div>
    </nav>

    <div class="container" id="cadastro">

        <div th:replace="fragments/alert"></div>

        <form method="POST"
              th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}" th:object="${departamento}">

            <div th:replace="fragments/validacao :: validacao"></div>

            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label for="nome">Nome do Departamento</label>
                    <input autofocus="autofocus" class="form-control" id="nome"
                           placeholder="Ex: Graduação" th:field="*{nome}" type="text"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ambiente">Sala</label>
                    <input autofocus="autofocus" class="form-control" id="ambiente"
                           placeholder="Ex: Laboratório de Informática" th:field="*{ambiente}" type="text"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="telefone">Telefone/Ramal</label>
                    <input class="form-control"  id="telefone"
                           th:field="*{telefone}" type="text"/>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script>
                    $().ready(() => {
                        var maskOptions = {
                            placeholder: "(__) ____-____ ou ___",
                            onKeyPress: function(cep, e, field, options) {
                                // Use um dígito opcional (9) no final para acionar a mudança
                                var masks = ["0009", "(00) 0 0000-0000"],
                                    digits = cep.replace(/[^0-9]/g, "").length,
                                    // Quando você recebe um valor para o parâmetro opcional, você precisa trocar
                                    // para o novo formato
                                    mask = digits <= 3 ? masks[0] : masks[1];
                                $("#telefone").mask(mask, options);
                            }
                        };

                        $("#telefone").mask("(00) 0000-0000", maskOptions);
                    });
                </script>
            </div>
            <input id="id" th:field="*{id}" type="hidden"/>
            <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
        </form>
    </div>
</section>
<script th:fragment="js" th:src="~{}"></script>
<script th:fragment="inlinescript" th:inline="javascript"></script>
</body>
</html>
