<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Cadastrar Categoria</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" th:href="@{/categorias/listar}" role="button">
                <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
                <span>Listar Categorias</span>
            </a>
        </div>
    </nav>

    <div class="container" id="cadastro">

        <div th:replace="fragments/alert"></div>

        <form th:action="${categoria.id == null} ? @{/categorias/salvar} : @{/categorias/editar}"
              th:object="${categoria}" method="POST">

            <div th:replace="fragments/validacao :: validacao"></div>

            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label for="nome">Categoria</label>
                    <input type="text" class="form-control" id="nome"
                           placeholder="Ex: Estabilizadores" autofocus="autofocus" th:field="*{nome}"/>
                </div>
            </div>
            <input type="hidden" id="id" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </form>
    </div>
</section>
</body>
</html>
