<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Cadastrar Categoria</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" role="button" th:href="@{/categorias/listar}">
                <span aria-hidden="true" class="oi oi-spreadsheet" title="Listar"></span>
                <span>Listar Categorias</span>
            </a>
        </div>
    </nav>

    <div class="container" id="cadastro">

        <div th:replace="fragments/alert"></div>

        <form method="POST"
              th:action="${categoria.id == null} ? @{/categorias/salvar} : @{/categorias/editar}" th:object="${categoria}">

            <div th:replace="fragments/validacao :: validacao"></div>

            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label for="nome">Nome da Categoria</label>
                    <input autofocus="autofocus" class="form-control" id="nome"
                           placeholder="Ex: Estabilizadores" th:field="*{nome}" type="text"/>
                </div>
            </div>
            <input id="id" th:field="*{id}" type="hidden"/>
            <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
        </form>
    </div>
</section>
<script th:fragment="js" th:src="~{}"></script>
<script th:fragment="inlinescript" th:inline="javascript"></script>
</body>
</html>
