<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="cabecalho">
    <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn btn-dark navbar-toggle pull-left">
                    <i class="oi oi-menu"></i>
                </button>
                <a class="navbar-brand " th:href="@{/home}"><span th:text="#{header.titulo}"> </span></a>
            </div>

            <form th:action="@{/logout}" sec:authorize="isAuthenticated()"
                  method="post"  class="form-inline mt-2 mt-md-0">
                <div class="btn-group mb-2 mr-sm-2">
                    <button type="button" class="btn btn-light">
                        <i class="oi oi-person"></i> <span class=""
                                                           sec:authentication="name"></span>
                    </button>
                    <button type="button"
                            class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <button type="submit" class="dropdown-item">Sair</button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</header>

</body>
</html>