<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<!--CONFIRM MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" id="myModalEq" th:fragment="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title">Informações do Equipamento</h4>
      </div>
      <div class="modal-body">
        <label>Fabricante</label>
        <label>Modelo</label>
        <label>N° de Série</label>
        <label>N° do Tombo</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
      </div>
    </div>    <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div> <!-- /.modal -->
</body>
</html>