<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<!--CONFIRM MODAL-->
<div class="modal fade" id="myModalEqq" role="dialog" tabindex="-1" th:fragment="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
                <h4 class="modal-title">Detalhes do Equipamento</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="form-group">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">Fechar</button>
            </div>
        </div>    <!-- /.modal-content -->
    </div>  <!-- /.modal-dialog -->
</div> <!-- /.modal -->
</body>
</html>