/*
 * Base structure
 */
html, body {
    height: 100%;
    background-color: #f8f9fa;
}

body {
    padding-top: 56px;
    padding-left: 0;
    font-weight: 500;
}

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

/*
 * Content
 */
.layout-content {
    width: 100%;
    padding-top: 0px;
    background-color: #f8f9fa;
}

.container {
    width: 130%;
    padding-top: 10px;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
        background-color:#f8f9fa;
    }
}

/*
 * Sidebar
 */
.sidebar {
    width: 0px;
    height: 121vh;
    border-top: 1px solid #eee;
    border-right: 1px solid #21252959;
    background-color: #f8f9fa;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.sidebar .nav {
    margin-bottom: 0px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.sidebar ul li:hover a, .menu ul li.active a {
    color: #777777;
}

.sidebar ul {
    list-style: none;
    padding: 10px 0px;
}

.sidebar ul li a {
    display: block;
    color: #1a1a1a;
    padding: 10px 15px;
    white-space: nowrap;
}

.sidebar.sidebar-open {
    width: 200px;
}

/*
 * nav-pills home
 */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1e94d2;
}

/*
 * toogle do navbar do menu
 */

.navbar-toggle {
    display: inline-block;
    margin-left: 10px;
}

/*
 * Footer
 */
.layout-footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 50px;
    border-top: 1px solid #21252959;
}

.footer-copy {
    font-size: 92%;
    display: block;
    color: #777777;
    text-align: center;
}

.required > label:after {
    content: "*";
}

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";

.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    border-style: ridge;
}

.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

.text1 {
    font-size: 13px;
    color: #cbcbcb;
}

.info {
    line-height: 17px;
}


/* card 1 */
.cost span {
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}

.pc {
    background: #dc3545;
}

/* card 2 */

.net span {
    color: #286783;
    font-weight: bold;
    font-size: 20px;
}

.network {
    background: #286783;
}

/* card 3 */

.impress span {
    color: #0012b2;
    font-weight: bold;
    font-size: 20px;
}

.imp {
    background-color: #0012b2;
}

/*Univeral Styling again for all product cards */
.imp:hover, .network:hover, .pc:hover {
    opacity: .8;
}

.cursor {
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn.btn-info.btn-sm.btn-block{
    background-color: #ea4646;
    border-color:black;
}

.btn.btn-success.btn-sm.btn-block{
    border-color:black;
}

/*div.dataTables_wrapper {*/
/*    width: 1000px;*/
/*    margin: 0 auto;*/
/*}*/