<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="btn btn-dark navbar-toggle pull-left" type="button">
                    <i class="oi oi-menu"></i>
                </button>
                <a class="navbar-brand " th:href="@{/home}"> <span th:text="#{home.titulo}"></span></a>
            </div>
        </div>
    </nav>
</header>

<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Informações do Sistema</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!-- Container for all products -->
        <div class="container mb-5 mt-5">
            <div class="row">

                <!-- Card 1 -->
                <div class="col-md-3">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img alt="" class="rounded" src="/image/equipment.png" width="160">
                            <h5>Equipamentos</h5>

                            <!-- card info-->
                            <div class="cost mt-3 text-dark">
                                <h5>Total</h5>
                                <span th:text="${qtdEquipamentos}"></span>
                            </div>
                            <!-- button for cards -->
                            <div class="p-3 pc text-center text-white mt-3 cursor">
                                <span class="text-uppercase"></span>
                            </div>
                        </div>
                        <!-- card info ends here-->
                    </div>
                </div>
                <!-- card 1 ends here -->


                <!-- Card 2 -->
                <div class="col-md-3">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img alt="" class="rounded" src="/image/department.png" width="160">
                            <h5>Departamentos</h5>

                            <!-- card info-->
                            <div class="net mt-3 text-dark">
                                <h5>Total</h5>
                                <span th:text="${qtdDepartamentos}"></span>
                            </div>
                            <!-- button for cards -->
                            <div class="p-3 network text-center text-white mt-3 cursor">
                                <span class="text-uppercase"></span>
                            </div>
                        </div>
                        <!-- card info ends here-->
                    </div>
                </div>
                <!-- card 2 ends here -->

                <!-- Card 3 -->
                <div class="col-md-3">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img alt="" class="rounded" src="/image/digital.png" width="160">
                            <h5>Categorias</h5>

                            <!-- card info-->
                            <div class="impress mt-3 text-dark">
                                <h5>Total</h5>
                                <span th:text="${qtdCategorias}"></span>
                            </div>
                            <!-- button for cards -->
                            <div class="p-3 imp text-center text-white mt-3 cursor">
                                <span class="text-uppercase"></span>
                            </div>
                        </div>
                        <!-- card info ends here-->
                    </div>
                </div>
                <!-- card 3 ends here -->
            </div>
        </div>
        <!-- Container for all products ends -->

        <div class="container mb-5 mt-5">
            <div class="row">

                <!-- Card 4 -->
                <div class="col-md-3">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img alt="" class="rounded" src="/image/gear.png" width="160">
                            <h5>Equipamentos</h5>
                            <h4>Ativos</h4>

                            <!-- card info-->
                            <div class="cost mt-3 text-dark">
                                <h5>Total</h5>
                                <span th:text="${qtdEquipamentosEmUso}"></span>
                            </div>
                            <!-- button for cards -->
                            <div class="p-3 pc text-center text-white mt-3 cursor">
                                <span class="text-uppercase"></span>
                            </div>
                        </div>
                        <!-- card info ends here-->
                    </div>
                </div>
                <!-- card 4 ends here -->


                <!-- Card 5 -->
                <div class="col-md-3">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img alt="" class="rounded" src="/image/store.png" width="160">
                            <h5>Equipamentos</h5>
                            <h4>Depósito GTI</h4>

                            <!-- card info-->
                            <div class="net mt-3 text-dark">
                                <h5>Total</h5>
                                <span th:text="${qtdEquipamentosDeposito}"></span>
                            </div>
                            <!-- button for cards -->
                            <div class="p-3 network text-center text-white mt-3 cursor">
                                <span class="text-uppercase"></span>
                            </div>
                        </div>
                        <!-- card info ends here-->
                    </div>
                </div>
                <!-- card 5 ends here -->

                <!-- Card 6 -->
                <div class="col-md-3">
                    <div class="card mt-3">
                        <div class="product-1 align-items-center p-2 text-center">
                            <img alt="" class="rounded" src="/image/manutencao.png" width="160">
                            <h5>Equipamentos</h5>
                            <h4>Em Manutenção</h4>

                            <!-- card info-->
                            <div class="impress mt-3 text-dark">
                                <h5>Total</h5>
                                <span th:text="${qtdEquipamentosManutencao}"></span>
                            </div>
                            <!-- button for cards -->
                            <div class="p-3 imp text-center text-white mt-3 cursor">
                                <span class="text-uppercase"></span>
                            </div>
                        </div>
                        <!-- card info ends here-->
                    </div>
                </div>
                <!-- card 6 ends here -->

            </div>
        </div>
        <!-- Container for all products ends -->


    </div>

</section>


<footer class="layout-footer">
    <div class="container">
        <span class="footer-copy">&copy; 2021 UFRN. Todos os direitos reservados.</span>
    </div>
</footer>
<script th:src="~{}" th:fragment="js"></script>
<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>