<!DOCTYPE html>
<html lang="pt" th:with="version=${#strings.randomAlphanumeric(3)}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gerência de Tecnologia</title>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="icon" th:href="@{/image/technology.png}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}"/>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{style.css}">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">

    <!-- jQueryUI (autocomplete) -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <!-- Icons fontawesome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="fragments/header :: cabecalho">
    <div>header</div>
</header>

<div class="layout-main">
    <aside>
        <nav th:replace="fragments/sidebar :: nav-sidebar">
            <span>menu</span>
        </nav>
    </aside>

    <section layout:fragment="corpo">
        <div>conteudo principal das páginas</div>
    </section>
</div>

<footer th:replace="fragments/footer :: rodape">
    <div>footer</div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<!-- jQueryUI (autocomplete) -->
<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
<!-- 	Datatables JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<!-- 	MEUS JS -->
 <script th:replace=":: js"></script>
 <script th:replace=":: inlinescript" th:inline="javascript"></script>


<script type="text/javascript">

    var url = '';

    $('button[id*="btn_"]').click(function () {
        url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
    });

    $('#ok_confirm').click(function () {
        document.location.href = url;
    })

    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $(document).ready(function () {
        $(".navbar-toggle").click(function () {
            $(".sidebar").toggleClass("sidebar-open");
        })
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>
</body>
</html>