<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Lista de Equipamentos</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" role="button" th:href="@{/equipamentos/cadastrar}">
                <span aria-hidden="true" class="oi oi-plus" title="Cadastro"></span>
                <span>Novo Equipamento</span>
            </a>
        </div>
    </nav>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12">


                    <div th:replace="fragments/alert"></div>
                    <h2>Lista de Equipamentos</h2>
                    <table class="table table-sm table-striped table-bordered nowrap"
                           id="table-equipamentos"
                           style="width: 100%">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Tombo Patrimonial</th>
                            <th scope="col">Status</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Endereço MAC</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Excluir</th>
                            <th scope="col">Data de Entrada</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Número de Série</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/modal :: modal"></div>
</section>
<script	th:src="@{/js/equipamento.js(v=${version})}" th:fragment="js"></script>
<script th:inline="javascript" th:fragment="inlinescript"></script>

</body>
</html>